.product-box{
  flex: 200px;
  height: 500px;
  box-shadow: 1px 1px 5px 5px peru;
  color: white;
  background: peru;
  margin: 10px;
  overflow: hidde;
}

.imgbox{
  width : 100%;
  height: 180px;
  overflow: hidden;
}
.imgbox img{
  width: 100%; height: 100%;
}